<footer class="text-dark py-4 mt-5">
  <div class="container text-center">
    <p class="mb-0">&copy; 2025 Kelwin Jhackson Gonçalves de Moura. Todos os direitos reservados.</p>
    <div class="mt-2">
      <a href="https://github.com/Kelwinkxps13/" target="_blank" class="text-dark me-3">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://www.facebook.com/kelwin.jhackson/" target="_blank" class="text-dark me-3">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="https://www.instagram.com/kelwinkxps13/" target="_blank" class="text-dark">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </div>
  </div>
</footer>